pvr.puzzle.tv.xcodeproj/project.xcworkspace/xcuserdata/ssh.xcuserdatad/UserInterfaceState.xcuserstate
pvr.puzzle.tv.xcodeproj/xcuserdata/ssh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
pvr.puzzle.tv.xcodeproj/xcuserdata/ssh.xcuserdatad/xcschemes/comple.test.xcscheme
pvr.puzzle.tv.xcodeproj/xcuserdata/ssh.xcuserdatad/xcschemes/pvr.iptvsimple.xcscheme
pvr.puzzle.tv.xcodeproj/xcuserdata/ssh.xcuserdatad/xcschemes/xcschememanagement.plist
pvr.puzzle.tv/build
build
