<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

<!-- Common -->
<category label="10010">
    <setting id="provider_type" type="enum" label="10000" lvalues="20010|30010|40010|50010|60010" default="1" />
    <setting id="archive_for_current_epg_item" type="bool" label="10013" default="true" />
    <setting id="enable_timeshift" type="bool" label="10001" default="false" />
    <setting id="timeshift_size" type="slider" label="10003" default="50" range="30,5,32640" option="int" visible="eq(-1,true)" subsetting="true"/>
    <setting id="timeshift_type" type="enum" label="10004" lvalues="10005|10006" default="0"  visible="eq(-2,true)" subsetting="true"/>
    <setting id="timeshift_path" type="folder" label="10002" default="" visible="eq(-1,1) + eq(-3,true)" subsetting="true"/>
    <setting id="timeshift_off_cache_limit" type="slider" label="10011" default="30" range="10,5,100" option="int" visible="eq(-4,false)" subsetting="true"/>
    <setting id="curl_timeout" type="number" label="10007" default="15" option="int"/>
    <setting id="channel_reload_timeout" type="slider" label="10008" default="5" range="1,1,30" option="int"/>
    <setting id="recordings_path" type="folder" label="10009" default="" />
    <setting id="rpc_local_port" type="number" label="10012" default="8080"/>
</category>

<!-- Puzzle TV -->
  <category label="20010">
      <setting id="puzzle_server_uri" type="text" label="20000" default="127.0.0.1"/>
      <setting id="puzzle_server_port" type="number" label="20001" default="8089"/>
      <setting id="puzzle_server_retries" type="number" label="20002" default="4"/>
      <setting id="puzzle_server_epg_provider_type" type="enum" label="20005" lvalues="20006|20007" default="0" />
      <setting id="puzzle_server_epg_url" type="text" label="20003" default="http://api.torrent-tv.ru/ttv.xmltv.xml.gz" visible="eq(-1,0)"/>
      <setting id="puzzle_server_epg_port" type="number" label="20004" default="8085" visible="eq(-2,1)"/>
</category>

<!-- Sovok TV -->
  <category label="30010">
<!--      <setting id="sep1" label="30010" type="lsep"/>-->
      <setting id="login" type="text" label="30000" default="" />
      <setting id="password" type="text" label="30001" option="hidden" default="" />
      <setting id="archive_support" type="bool" label="30002" default="true" />
      <setting id="enable_adult" type="bool" label="30003" default="false" />
      <setting id="pin_code" type="text" label="30004" default="0000" visible="eq(-1,true)"/>
      <setting id="streamer" type="fileenum" label="30005" values="resources/streamers"/>
      <setting id="filter_by_country" type="bool" label="30006" default="true" />
      <setting id="hide_LT_channels" type="bool" label="30007" default="false" visible="eq(-1,true)" subsetting="true"/>
      <setting id="hide_US_channels" type="bool" label="30008" default="false" visible="eq(-2,true)" subsetting="true"/>
      <setting id="hide_DE_channels" type="bool" label="30009" default="false" visible="eq(-3,true)" subsetting="true"/>
      <setting id="hide_IL_channels" type="bool" label="300011" default="false" visible="eq(-4,true)" subsetting="true"/>
      <setting id="hide_LV_channels" type="bool" label="300012" default="false" visible="eq(-5,true)" subsetting="true"/>
      <setting id="hide_EE_channels" type="bool" label="300013" default="false" visible="eq(-6,true)" subsetting="true"/>
      <setting id="hide_IT_channels" type="bool" label="300014" default="false" visible="eq(-7,true)" subsetting="true"/>
      <setting id="hide_FR_channels" type="bool" label="300015" default="false" visible="eq(-8,true)" subsetting="true"/>
  </category>

<!-- OTT Player -->
<category label="40010">
    <setting id="ott_playlist_url" type="text" label="40000" default="ott.watch"/>
    <setting id="ott_key" type="text" label="40001" default=""/>
</category>

<!-- Edem Player -->
<category label="50010">
    <setting id="edem_playlist_url" type="text" label="50000" default="https://edem.tv/playlists/uplist/***/edem_pl.m3u8"/>
<!--    <setting id="edem_epg_url" type="text" label="50001" default="http://programtv.ru/xmltv.xml.gz"/>-->
    <setting id="edem_epg_url" type="text" label="50001" default="http://epg.it999.ru/edem.xml.gz"/>
    <setting id="edem_seek_archives" type="bool" label="50002" default="false"/>
    <setting id="edem_adult" type="bool" label="30003" default="false"/>
</category>

<!-- TTV Player -->
<category label="60010">
    <setting id="ttv_mode" type="enum" label="60007" lvalues="60003|60004" default="1" />
    <setting id="ttv_playlist_url" type="text" label="60000" default="http://asplaylist.net/***/tv.m3u" visible="eq(-1,1)" subsetting="true"/>
    <setting id="ttv_epg_url" type="text" label="60001" default="http://api.torrent-tv.ru/ttv.xmltv.xml.gz" visible="eq(-2,1)" subsetting="true"/>
    <setting id="ttv_user" type="text" label="60005" default="anonymous" visible="eq(-3,0)" subsetting="true"/>
    <setting id="ttv_password" type="text" label="60006" default="anonymous"  option="hidden" visible="eq(-4,0)" subsetting="true"/>
    <setting id="ttv_use_acestream" type="bool" label="60008" default="false" visible="eq(-5,0)"/>
    <setting id="ttv_ace_server_uri" type="text" label="60009" default="127.0.0.1" visible="eq(-6,0)+eq(-1,true)" subsetting="true"/>
    <setting id="ttv_ace_server_port" type="number" label="60011" default="6878" visible="eq(-7,0)+eq(-2,true)" subsetting="true"/>
    <setting id="ttv_seek_archives" type="bool" label="60002" default="false"/>
    <setting id="ttv_adult" type="bool" label="30003" default="false"/>
</category>


</settings>
