<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

<!-- Common -->
<category label="10010">
    <setting id="provider_type" type="enum" label="10000" lvalues="20010|30010|40010|50010|60010|70010" default="5" />
    <setting id="enable_timeshift" type="bool" label="10001" default="false" />
    <setting id="timeshift_size" type="slider" label="10003" default="50" range="30,5,32640" option="int" visible="eq(-1,true)" subsetting="true"/>
    <setting id="timeshift_type" type="enum" label="10004" lvalues="10005|10006" default="0"  visible="eq(-2,true)" subsetting="true"/>
    <setting id="timeshift_path" type="folder" label="10002" default="" visible="eq(-1,1) + eq(-3,true)" subsetting="true"/>
    <setting id="timeshift_off_cache_limit" type="slider" label="10011" default="30" range="10,5,100" option="int" visible="eq(-4,false)" subsetting="true"/>
    <setting id="live_playback_delay" type="slider" label="10023" default="0" range="0,1,30" option="int"/>

    <setting label="10099" type="lsep"/>
    <setting id="num_of_hls_threads" type="number" label="10019" default="1" option="int"/>
    <setting id="curl_timeout" type="number" label="10007" default="15" option="int"/>
    <setting id="channel_reload_timeout" type="slider" label="10008" default="5" range="1,1,30" option="int"/>
    <setting id="wait_for_inet" type="number" label="10014" default="0" option="int"/>
    
    <setting label="10098" type="lsep"/>
    <setting id="recordings_path" type="folder" label="10009" default="" />
    <setting id="archive_support" type="bool" label="30002" default="true" />
    <setting id="archive_for_current_epg_item" type="enum"  label="10013" lvalues="10094|10095|10096" default="1" visible="eq(-1,true)" subsetting="true"/>
    <setting id="archive_use_channel_groups" type="bool" label="10016" default="false"  visible="eq(-2,true)" subsetting="true"/>
    <setting id="archive_start_padding" type="number" label="10017" default="0"  visible="eq(-3,true)" subsetting="true"/>
    <setting id="archive_end_padding" type="number" label="10018" default="0"  visible="eq(-4,true)" subsetting="true"/>
    <setting id="archive_refresh_interval" type="slider" label="10020" default="3" range="1,1,30" option="int" visible="eq(-5,true)" subsetting="true"/>
    <setting id="archive_wait_for_epg" type="bool" label="10022" default="false"  visible="eq(-6,true)" subsetting="true"/>
    
    <setting label="10097" type="lsep"/>
    <setting id="rpc_local_port" type="number" label="10012" default="8080"/>
    <setting id="channel_index_offset" type="number" label="10015" default="0"/>
    <setting id="startup_delay" type="number" label="10021" default="0" option="int"/>
</category>

<!-- Puzzle TV -->
  <category label="20010">
      <setting id="puzzle_server_version" type="enum" label="20008" lvalues="20009|20011" default="1" />
      <setting id="puzzle_server_uri" type="text" label="20000" default="127.0.0.1"/>
      <setting id="puzzle_server_port" type="number" label="20001" default="8185"/>
      <setting id="puzzle_server_retries" type="number" label="20002" default="4"/>
      <setting id="puzzle_server_epg_provider_type" type="enum" label="20005" lvalues="20006|20007" default="0" />
      <setting id="puzzle_server_epg_url" type="text" label="20003" default="https://iptvx.one/epg/epg.xml.gz" visible="eq(-1,0)"/>
      <setting id="puzzle_server_epg_port" type="number" label="20004" default="8085" visible="eq(-2,1) + eq(-6,0)"/>
      <setting id="puzzle_seek_archives" type="bool" label="50002" default="false"/>
      <setting id="puzzle_block_dead_streams" type="bool" label="20012" visible="eq(-8,1)" default="true"/>
</category>

  <!-- Playlist (Shara TV) Player -->
  <category label="70010">
    <setting id="plist_provider_type" type="enum" label="70007" lvalues="70008|70009|70011" default="1" />
    <setting id="sharatv_data_source" type="enum" label="70001" lvalues="70002|70003" default="0" />
    <setting id="sharatv_login" type="text" label="30000" default="" visible="eq(-1,0) + eq(-2,1)" subsetting="true"/>
    <setting id="sharatv_password" type="text" label="30001" option="hidden" default="" visible="eq(-2,0) + eq(-3,1)" subsetting="true"/>
    <setting id="ottg_login" type="text" label="30000" default="" visible="eq(-3,0) + eq(-4,2)" subsetting="true"/>
    <setting id="ottg_password" type="text" label="30001" option="hidden" default="" visible="eq(-4,0) + eq(-5,2)" subsetting="true"/>
    <setting id="playlist_prefer_hls" type="bool" label="70012" default="true" visible="eq(-5,0) + eq(-6,2)" subsetting="true"/>
    <setting id="sharatv_playlist_path_type" type="enum" label="70004" lvalues="70005|70006" visible="eq(-6,1)" default="0" />
    <setting id="sharatv_playlist_path" type="text" label="10002" default="" visible="eq(-7,1) + eq(-1,0)" subsetting="true"/>
    <setting id="sharatv_playlist_path_local" type="file" label="10002" default="" visible="eq(-8,1) + eq(-2,1)" subsetting="true"/>
    <setting id="sharatv_epg_path" type="text" label="50001" default="" visible="eq(-9,1)"/>
    <setting id="sharatv_adult" type="bool" label="30003" default="false"/>
    <setting label="70013" type="lsep"/>
    <setting id="playlist_support_multicast_urls" type="bool" label="70014" default="false" subsetting="true"/>
    <setting id="playlist_udp_proxy_host" type="text" label="60009" default="127.0.0.1" visible="eq(-1,true)" subsetting="true" />
    <setting id="playlist_udp_proxy_port" type="number" label="60011" default="4022" visible="eq(-2,true)" subsetting="true" />
  </category>
  
<!-- OTT Player -->
<category label="40010">
    <setting id="ott_playlist_url" type="text" label="40000" default="ott.watch"/>
    <setting id="ott_key" type="text" label="40001" default=""/>
</category>

<!-- Edem Player -->
<category label="50010">
    <setting id="edem_playlist_url" type="text" label="50000" default="https://edem.tv/playlists/uplist/***/edem_pl.m3u8"/>
<!--    <setting id="edem_epg_url" type="text" label="50001" default="http://programtv.ru/xmltv.xml.gz"/>-->
    <setting id="edem_epg_url" type="text" label="50001" default="http://epg.it999.ru/edem.xml.gz"/>
    <setting id="edem_seek_archives" type="bool" label="50002" default="true"/>
    <setting id="edem_adult" type="bool" label="30003" default="false"/>
</category>

<!-- TTV Player -->
<category label="60010">
    <setting id="ttv_epg_url" type="text" label="60001" default="https://iptvx.one/epg/epg.xml.gz" />
    <setting label="60008" type="lsep"/>
    <setting id="ttv_ace_server_uri" type="text" label="60009" default="127.0.0.1"  />
    <setting id="ttv_ace_server_port" type="number" label="60011" default="6878"  />
    <setting id="ttv_filter_by_alexelec" type="bool" label="60012" default="true"/>
    <setting id="ttv_adult" type="bool" label="30003" default="false" visible="false" />
</category>

<!-- Sovok TV -->
<category label="30010">
    <!--      <setting id="sep1" label="30010" type="lsep"/>-->
    <setting id="login" type="text" label="30000" default="" />
    <setting id="password" type="text" label="30001" option="hidden" default="" />
    <setting id="enable_adult" type="bool" label="30003" default="false" />
    <setting id="pin_code" type="text" label="30004" default="0000" visible="eq(-1,true)"/>
    <setting id="streamer" type="fileenum" label="30005" values="resources/streamers"/>
    <setting id="filter_by_country" type="bool" label="30006" default="true" />
    <setting id="hide_LT_channels" type="bool" label="30007" default="false" visible="eq(-1,true)" subsetting="true"/>
    <setting id="hide_US_channels" type="bool" label="30008" default="false" visible="eq(-2,true)" subsetting="true"/>
    <setting id="hide_DE_channels" type="bool" label="30009" default="false" visible="eq(-3,true)" subsetting="true"/>
    <setting id="hide_IL_channels" type="bool" label="300011" default="false" visible="eq(-4,true)" subsetting="true"/>
    <setting id="hide_LV_channels" type="bool" label="300012" default="false" visible="eq(-5,true)" subsetting="true"/>
    <setting id="hide_EE_channels" type="bool" label="300013" default="false" visible="eq(-6,true)" subsetting="true"/>
    <setting id="hide_IT_channels" type="bool" label="300014" default="false" visible="eq(-7,true)" subsetting="true"/>
    <setting id="hide_FR_channels" type="bool" label="300015" default="false" visible="eq(-8,true)" subsetting="true"/>
</category>

</settings>
